<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
			<string>com.local.autocommit</string>
        <key>WatchPaths</key>
			<array>
			    <string>/Users/laurentlemmens/Documents/Archief/Bibliotheek/bibfile/library.bib</string>
			</array>
		<key>ProgramArguments</key>
		    <array>
		        <string>/Users/laurentlemmens/Software/qol/src/autocommit.py</string>
		        <string>/Users/laurentlemmens/Documents/Archief/Bibliotheek/bibfile</string>
		    </array>
        <key>KeepAlive</key>
            <true/>
	</dict>
</plist>
